/********************MOBILE***************************/

html * {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-image: url(/images/blue-fire.jpg)
}

*:before,
*:after {
    /*    box-sizing: border-box;*/
}

#alert {
    background-color: indianred;
    padding: 1px;
    border: 5px solid #000000;
    margin: 0px;
    width: 100%;
    color: white;
    text-align: center;
}

img[alt="search-bar"] {
    width: 100%;
    height: 30px;
}

img[alt="icon"] {
    width: 26.1%;
    height: 110%;
    margin: 0px;
}

img[alt="weather-link1"] {
    width: 22%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: inline;
}

img[alt="weather-link2"] {
    width: 22%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: inline;
}
img[alt="weather-link3"]{
    width: 22%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: inline;
}

body {
    font-size: 24px;
}

#radar2 {
    background-color: orange;
}

img[alt="radar"] {
    display: inline-block;
    height: inherit;
    width: 100%;
    background-color: orange;
    margin-bottom: 0px;
}

#info {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    align-content: center;
    align-self: center;
}

img[alt="weather"] {
    text-align: center;
    height: 50px;
    width: auto;
}
.hrs{
    display: flex;
    background-color: gray;
    border: solid;
    justify-content: space-between;
    color: white;
}
#hrly1 {
    display: flex;
    
}

#hrly2 {
    display: flex;
    
}


#frame{
    width: 100%;
    background-color: aquamarine;
    text-align: center;
}
a {
    color: white;
}

footer {
    background-color: black;
    padding-bottom: 1px;
    padding-top: 1px;
    color: white;
}

.wireframes{
    display: flex;
    width: 100%;
    flex-flow: column;
}
/**********************IPAD***************************/

@media screen and (min-width: 750px) {
    .hd {
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
    }
    img[alt="icon"] {
        width: 12%;
        height: 100%;
    }
    img[alt="weather-link1"] {
        width: 65%;
        height: 100%;
    }
    img[alt="weather-link2"] {
        width: 65%;
        height: 100%;
    }
      img[alt="weather-link3"] {
        width: 65%;
        height: 100%;
    }
    img[alt="search-bar"] {
        display: flex;
        width: 30%;
        height: 30px;
    }
    .center {
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
        /*            margin-top: 10px;*/
        /*        padding-top: 10px;*/
    }
    .frank {
        display: flex;
        width: 15%;
        height: 390px;
        line-height: 40px;
        background-color: black;
        color: white;
        align-content: center;
        text-align: center;
        height: 270px;
        margin-top: 10px;
        /*        flex-wrap: wrap;*/
    }
    img[alt="sunny"] {
        display: flex;
        width: 100%;
    }
    .centerpiece {
        display: flex;
        width: 45%;
        height: 270px;
        background-color: orange;
        color: white;
        align-self: center;
        text-align: center;
        flex-wrap: wrap;
    }
    img[alt="radar"] {
        display: flex;
        align-self: center;
        width: 100%;
        height: 100%
    }
    footer {
        background-color: black;
        padding-bottom: 1px;
        padding-top: 1px;
        color: white;
    }
    .wireframes{
        display: flex;
/*        flex: column;*/
        flex-flow: column;
        width:100%;
    }
  
    #frame {
        display: none;
    }
    #newwireframe {}
    .hrs {
        display: flex;
         border: solid;
        color: white;
        background-color: grey
        /*        align-self: flex-end;*/
    }
    #hrly1 {
        display: flex;
        /*        flex-wrap: wrap;*/
        
        /*        height: 270px;*/
       ;
    }
    #hrly2 {
        display: flex;
        /*        flex-wrap: wrap;*/
     
       
        /*        padding-bottom: 27px;*/
    }
    a {
        color: white;
    }
    img[alt="desktop"] {
      
    }
    img[alt="mobilewireframe1"] {
        background-color: aquamarine;
       
    }
    img[alt="ipad"] {
       
    }
}


/*********************DESKTOP************************/

@media screen and (min-width: 1000px) {
    .hd {
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
    }
    img[alt="icon"] {
        width: 12%;
        height: 100%;
    }
    img[alt="weather-link1"] {
        width: 65%;
        height: 100%;
    }
    img[alt="weather-link2"] {
        width: 65%;
        height: 100%;
    }
       img[alt="weather-link3"] {
        width: 65%;
        height: 100%;
    }
    img[alt="search-bar"] {
        display: flex;
        width: 30%;
        height: 30px;
    }
    .center {
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
        /*            margin-top: 10px;*/
        /*        padding-top: 10px;*/
    }
    .frank {
        display: flex;
        width: 15%;
        height: 390px;
        line-height: 40px;
        background-color: black;
        color: white;
        align-content: center;
        text-align: center;
        height: 270px;
        margin-top: 10px;
        /*        flex-wrap: wrap;*/
    }
    img[alt="sunny"] {
        display: flex;
        width: 100%;
    }
    .centerpiece {
        display: flex;
        width: 45%;
        height: 270px;
        background-color: orange;
        color: white;
        align-self: center;
        text-align: center;
        flex-wrap: wrap;
    }
    img[alt="radar"] {
        display: flex;
        align-self: center;
        width: 100%;
        height: 100%
    }
    footer {
        background-color: black;
        padding-bottom: 1px;
        padding-top: 1px;
        color: white;
    }
    img[alt="mobilewireframe2"] {
      
        margin-top: 2%;
        height: 300px;
    }
    #frame {
        display: none;
    }
   
    .hrs {
        display: flex;
        /*        align-self: flex-end;*/
         
        /*        height: 270px;*/
        border: solid;
        color: white;
        background-color: grey;
       
    }
    #hrly1 {
        display: flex;
        /*        flex-wrap: wrap;*/
       
        
        /*        height: 270px;*/
    
    }
    #hrly2 {
        display: flex;
        /*        flex-wrap: wrap;*/
      
       
        /*        padding-bottom: 27px;*/
    }
    a {
        color: white;
    }
     .wireframes{
        display: flex;
/*        flex: column;*/
        flex-flow: column;
        width:100%;
    }
  
    img[alt="desktop"] {
      display:flex;
    }
    img[alt="mobilewireframe1"] {
       display: flex;
        background-color: aquamarine;
    }
    img[alt="ipad"] {
       display: flex;
    }
}