nav ul p{
    background-color: aqua;
    padding: 5px;
    border: 5px dashed #000000;
    margin: 5px;
    width: 200px;
}

img[alt="cat"]{
    background-color: brown;
    padding: 7px;
    border: 5px dotted #010100;
    width: 500px;
}

img[alt="dog"]{
    padding:10px;
    background-color: chartreuse;
    border: ridge #009900;
    border-width: 10px;
    
}

main>ul>li>ul{
    background-color: blueviolet;
    border: 5px dashed #809900;
    padding: 5px;
    margin: 5px;
    width: 200px;
    
}