* {
    margin: 0;
}

body {
    padding: 0px;
    margin: 0px;
    background-image: url("/images/abstract-art-blur-bright-373543.jpg");
/*     background-color: yellowgreen;*/
    color: white;
    height: 100%;
}

img[alt="my-picture"]{
    margin-right: 10px;
    
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -60px;
}

.page-wrap:after {
    content: "";
    display: block;
}

#tab-link:link {
    color: blue;
    font-size: 1em;
}

#tab-link:visited {
    color: orange;
}

.tab {
    float: left;
    
}
.tabs{
/*    margin-left: 5px;*/
    display: flex;
    justify-content: center;
}
.tab label {
    background: yellow;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
    margin-top: 10px;
}

.tab [type=radio] {
    display: none;
}

/*
[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid #ccc;
    z-index: 2;
}
*/

[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

#header-top {
    padding-bottom: 10%;
    margin-top: 0;
    background: green;
    width: 100%;
    height: 100%;
}
#header-name{
    margin-bottom: 10%;
    margin-left: 5px;
/*    position: absolute;*/
}
h2 {
    font-size: 1.8em;
       margin-left: 5px;
}
 #ps{
        margin-left: 10px;
    }
#footer-bottom {
        background: black;
/*        position: absolute;*/
        width: 100%;
        bottom: 0;
        height: 60px;
        padding: 0px;
        margin: 0px;
}
#ftr-margin{
    margin-left: 10px;
}
main{
    font-size: 1em;
    margin-bottom: 20%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
   
/*    padding-bottom: 100%;*/
}
img[alt="tempe"]{
    width:100px;
    height:100px;
}
img[alt="temp"] {
        width: 100px;
        height: 100px;
        margin-right: 10px;
    margin-left: 0px;
    }
   .featured-video {
        display: flex;
        width: 100%;
        height: 60%;
       margin-right: 10px;
    }
img[alt="wireframes"]{
    width:50%;
    height: 50%;
}
#ftr{
    background-color: black;
    width: 100%;
}
#mn{
    display: flex;
}
#hmwrk{
/*  flex:inline;*/
    margin-left: 10px;
    margin-right: 10px;
}
#hmwrk2{
    margin-right: 10px;
}

/***************************************************************************************/
/*******************************************TABLET**************************************/
/***************************************************************************************/
@media screen and (min-width: 768px) {
 .tabs {
        position: relative;
        min-height: 20px;
        clear: both;
        margin: 25px 0;
        display: flex;
     margin-left: 5px;
     justify-content: flex-start;
    }
    #header-top {
        padding: 0;
        margin-top: 0;
        background: green;
        width: 100%;
        height: 100%;
    }
    
    
    h2 {
        font-size: 3em;
        margin: 0;
           margin-left: 5px;
    }
     #ps{
        margin-left: 10px;
    }
    #tab-link:link {
        color: blue;
        font-size: 2em;
    }
    main {
        display: flex;
        justify-content: center;
        padding-left: 20px;
        font-size: 2em;
        margin-left: 10px;
    margin-right: 10px;
        margin-top: 10px;
    }
    img[alt="GetPersonImage.jfif"] {
        width: 100%;
    }
    img[alt="temp"] {
        width: 200px;
        height: 150px;
/*        margin-right: 20%;*/
        margin-right: 0px;
    }
    img[alt="tempe"] {
        width: 300px;
        height: 200px;
    }

    #a:link {
        color: white;
    }
    .featured-video {
        display: flex;
        width: 40%;
        height: 20%;
    }

#footer-bottom {
        background: black;
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 60px;
        padding: 0px;
        margin: 0px;
}
#header-name{
    margin: 0;
    margin-left: 5px;
}
}
/*************************************************************************************/
/*************************************DESKTOP*****************************************/
/*************************************************************************************/
@media screen and (min-width: 1033px) {
    .tabs {
        position: relative;
        min-height: 20px;
        clear: both;
        margin: 25px 0;
        display: flex;
        margin-left: 5px;
        justify-content: flex-start;
    }
    #header-top {
        padding: 0;
        margin-top: 0;
        background: green;
        width: 100%;
        height: 100%;
    }
    
    
    h2 {
        font-size: 3em;
        margin: 0;
        margin-left: 5px;
    }
    #ps{
        margin-left: 10px;
    }
    #tab-link:link {
        color: blue;
        font-size: 2em;
    }
    main {
        display: flex;
        justify-content: center;
        padding-left: 20px;
        font-size: 2em;
        margin-left: 10px;
    margin-right: 10px;
        margin-top: 10px;
    }
    img[alt="GetPersonImage.jfif"] {
        width: 100%;
    }
    img[alt="temp"] {
       
        margin-right: 20px;
    }
    img[alt="tempe"] {
        width: 100%;
        height: 100%;
    }
    img[alt="temppugs"] {
        width: 20%;
        height: 20%;
    }
    #a:link {
        color: white;
    }
    .featured-video {
        display: flex;
        width: 40%;
        height: 20%;
    }

#footer-bottom {
        background: black;
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 60px;
        padding: 0px;
        margin: 0px;
}
#header-name{
    margin: 0;
    margin-left: 5px;
}
}